{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Könyvtár</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <form method="post" action="{% url 'login' %}" name="LoginForm">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-3 mx-auto pt-lg-5">
          <h1 class="text-center">Jelentkezzen be!</h1>

            {% if form.errors %}
                <p class="label label-danger text-center">
                   {{ form.errors }}
                </p>
            {% endif %}
          <label for="username">Email</label>
          <input type="text" name="username" id="username" class="form-control text-center" required autofocus>
          <label for="password">Jelszó</label>
          <input type="password" id="password" name="password" class="form-control text-center mb-3" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</button>


          <p class="pt-2 pb-0 mb-0"><a href="/accounts/password_reset/">Elfelejtett jelszó?</a></p>

          <p class="pt-2"><a href="{% url 'proapp:regisztracio' %}">Regisztráció</a></p>


       </div>
    </div>
    </form>



  </body>
</html>