{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Könyvtár</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="container text-center pt-5 mt-5">
          <h4 class="font-weight-normal py-3">Elküldtük emailen a teendőket!</h4>
          <h5 class="font-weight-normal">Ha nem érkezik meg az email akkor vedd fel velünk kapcsolatot!</h5>
    </div>
</body>
</html>