{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Könyvtár</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="row py-5 mb-5">
        <div class="col-md-5 mx-auto pt-lg-5">
            <form method="post">
            {% csrf_token %}
            <h1 class="font-weight-normal text-center py-3">Adjon meg új jelszót!</h1>
            {{ form|crispy }}
           <button class="btn btn-lg btn-primary btn-block" type="submit">Regisztráció</button>
            </form>
        </div>
     </div>
</body>
</html>