<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Könyvtár</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="container text-center pt-5 mt-5">
          <h4 class="text-weight-normal py-3 sotetkek">Sikeresen megváltoztatta a jelszavát!</h4>
                <a class="btn btn-primary" href="{% url 'login' %}">Bejelentkezés</a>

    </div>
</body>
</html>